<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<h1 class="heading">Students and score</h1>
<table>
    <tr>
        <th>first_name</th>
        <th>last_name</th>
        <th>age</th>
        <th>score</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student.first_name }}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.score }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>